@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
/* line 11, style.scss */
body {
  background: #f2f2f2;
  margin: 0;
  padding: 0;
  font-family: 'Droid Sans', sans-serif;
  font-size: 13px;
  line-height: 20px;
  color: #444;
}

/* line 21, style.scss */
.header {
  border-top: 9px solid #737373;
  border-bottom: 4px solid #0aa60a;
}

/* line 26, style.scss */
.hcon {
  max-width: 938px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2.5641%;
}
/* line 12, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.9/sass/susy/output/support/_clearfix.scss */
.hcon:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 31, style.scss */
.container {
  max-width: 938px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 2.5641%;
}
/* line 12, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.9/sass/susy/output/support/_clearfix.scss */
.container:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 36, style.scss */
a.logo {
  padding: 13px 0 8px;
  float: left;
}

/* line 41, style.scss */
span.vmb {
  float: right;
  font-size: 23px;
  color: #000;
  letter-spacing: -0.5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  padding: 26px 0 0 0;
}
@media (min-width: 150px) and (max-width: 390px) {
  /* line 41, style.scss */
  span.vmb {
    font-size: 19px;
  }
}

/* line 54, style.scss */
.main {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #dedede;
  background: #fff;
  margin-top: 29px;
  float: left;
}

/* line 64, style.scss */
.g1 {
  width: 57.62712%;
  float: left;
  margin-right: 1.69492%;
  margin-right: 0;
}
@media (max-width: 728px) {
  /* line 64, style.scss */
  .g1 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 72, style.scss */
.g2 {
  width: 40.67797%;
  float: right;
  margin-right: 0;
  padding-right: 1.69492%;
}
@media (max-width: 728px) {
  /* line 72, style.scss */
  .g2 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }
}

/* line 80, style.scss */
.ins1 {
  padding: 15px 0 0 15px;
  float: left;
}
@media (max-width: 728px) {
  /* line 80, style.scss */
  .ins1 {
    padding: 15px 15px 0 15px;
  }
}

/* line 88, style.scss */
.ins2 {
  padding: 15px 0px 0 0;
  float: left;
}
@media (max-width: 728px) {
  /* line 88, style.scss */
  .ins2 {
    padding: 15px 15px 0 15px;
  }
}

/* line 96, style.scss */
.links {
  width: 57.62712%;
  float: left;
  margin-right: 1.69492%;
}
/* line 98, style.scss */
.links a {
  color: #747474;
  text-decoration: none;
}
/* line 102, style.scss */
.links a:hover {
  color: #60b73c;
  text-decoration: none;
}
/* line 106, style.scss */
.links span {
  color: #9c9c9c;
  padding: 0 7px;
}
@media (max-width: 728px) {
  /* line 96, style.scss */
  .links {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    float: none;
  }
}

/* line 117, style.scss */
.social {
  width: 40.67797%;
  float: right;
  margin-right: 0;
}
@media (max-width: 728px) {
  /* line 117, style.scss */
  .social {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }
}

/* line 126, style.scss */
.imgx3 {
  float: right;
}
@media (max-width: 728px) {
  /* line 126, style.scss */
  .imgx3 {
    float: none;
    padding: 3.44828% 0 0 0;
  }
}

/* line 134, style.scss */
.footer {
  padding-top: 20px;
  float: left;
}

/* line 139, style.scss */
.cpy {
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #9b9b9b;
  margin-top: 20px;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  color: #747474;
  font-size: 12px;
}

/* line 149, style.scss */
.txt {
  float: left;
  border-right: 1px solid #dedede;
  padding-right: 15px;
  margin: 15px 0;
}
/* line 151, style.scss */
.txt a {
  color: #1091c7;
  text-decoration: underline;
}
/* line 155, style.scss */
.txt a:hover {
  color: #60b73c;
  text-decoration: none;
}
@media (max-width: 728px) {
  /* line 149, style.scss */
  .txt {
    border-right: 0px;
  }
}

/* line 167, style.scss */
.txt2 {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}
@media (max-width: 728px) {
  /* line 167, style.scss */
  .txt2 {
    padding-bottom: 3.44828%;
  }
}

/* line 174, style.scss */
.imgx1 {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  margin-top: 25px;
}

/* line 180, style.scss */
.dex {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
  padding: 15px 0 20px;
}

/* line 186, style.scss */
.imgx2 {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  text-align: center;
}

/* line 191, style.scss */
.ban1 {
  background: url("../img/banner.jpg") center no-repeat;
  background-size: cover;
  height: 149px;
  width: 100%;
  float: left;
}

/* line 199, style.scss */
.ban2 {
  background: url("../img/banner2.jpg") center no-repeat;
  background-size: cover;
  width: 100%;
  height: 149px;
  float: left;
}

/* line 207, style.scss */
.inh {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2.04082%;
}
/* line 12, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.9/sass/susy/output/support/_clearfix.scss */
.inh:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 728px) and (max-width: 1024px) {
  /* line 207, style.scss */
  .inh {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.9/sass/susy/output/support/_clearfix.scss */
  .inh:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 510px) and (max-width: 728px) {
  /* line 207, style.scss */
  .inh {
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.9/sass/susy/output/support/_clearfix.scss */
  .inh:after {
    content: " ";
    display: block;
    clear: both;
  }
}
@media (min-width: 150px) and (max-width: 390px) {
  /* line 207, style.scss */
  .inh {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/susy-2.2.9/sass/susy/output/support/_clearfix.scss */
  .inh:after {
    content: " ";
    display: block;
    clear: both;
  }
}
/* line 220, style.scss */
.inh h1 {
  color: #fff;
  font-size: 26px;
  line-height: 28px;
}
@media (min-width: 728px) and (max-width: 880px) {
  /* line 220, style.scss */
  .inh h1 {
    font-size: 22px;
    line-height: 26px;
    padding-top: 2.04082%;
  }
}
@media (min-width: 120px) and (max-width: 510px) {
  /* line 220, style.scss */
  .inh h1 {
    font-size: 22px;
    line-height: 26px;
    padding-top: 2.04082%;
  }
}
/* line 235, style.scss */
.inh h2 {
  color: #fff;
  font-size: 16px;
  line-height: 17px;
  margin-top: -5px;
}
@media (min-width: 728px) and (max-width: 880px) {
  /* line 235, style.scss */
  .inh h2 {
    font-size: 13px;
    line-height: 15px;
  }
}
@media (min-width: 120px) and (max-width: 510px) {
  /* line 235, style.scss */
  .inh h2 {
    font-size: 13px;
    line-height: 15px;
  }
}
/* line 249, style.scss */
.inh .green {
  color: #2cd644;
}
